Repository vasic-digital/Rokram: changes, and which Codecov flags are due for each by the changed paths.
All: shared, android, desktop

Phase 4 Task 4.1: Add performance benchmark framework (80% complete)
  PHASE_4_TASK_4.1_PROGRESS.md
  shared/src/desktopBenchmark/kotlin/digital/vasic/yole/format/benchmark/CsvParserBenchmark.kt
  shared/src/desktopBenchmark/kotlin/digital/vasic/yole/format/benchmark/LatexParserBenchmark.kt
  shared/src/desktopBenchmark/kotlin/digital/vasic/yole/format/benchmark/TodoTxtParserBenchmark.kt
Due: shared

Fix benchmark compilation - escapeKotlin string interpolation
  shared/src/desktopBenchmark/kotlin/digital/vasic/yole/format/benchmark/CsvParserBenchmark.kt
  shared/src/desktopBenchmark/kotlin/digital/vasic/yole/format/benchmark/LatexParserBenchmark.kt
Due: shared

Auto-commit
  PHASE_4_TASK_4.1_PROGRESS.md
  run_simple_benchmarks.sh
  shared/build.gradle.kts
  shared/src/desktopBenchmark/kotlin/digital/vasic/yole/format/benchmark/SimpleBenchmarkRunner.kt
Due: shared

Auto-commit
  CSS_OPTIMIZATION_SUMMARY.md
  MEMORY_ANALYSIS.md
  PERFORMANCE_BASELINE.md
  PHASE_4_STATUS.md
  shared/src/commonMain/kotlin/digital/vasic/yole/format/StyleSheets.kt
  shared/src/commonMain/kotlin/digital/vasic/yole/format/asciidoc/AsciidocParser.kt
  shared/src/commonMain/kotlin/digital/vasic/yole/format/latex/LatexParser.kt
  shared/src/commonMain/kotlin/digital/vasic/yole/format/markdown/MarkdownParser.kt
  shared/src/commonMain/kotlin/digital/vasic/yole/format/orgmode/OrgModeParser.kt
  shared/src/commonMain/kotlin/digital/vasic/yole/format/restructuredtext/RestructuredTextParser.kt
  shared/src/commonMain/kotlin/digital/vasic/yole/format/wikitext/WikitextParser.kt
  shared/src/desktopBenchmark/kotlin/digital/vasic/yole/format/benchmark/AsciidocParserBenchmark.kt
  shared/src/desktopBenchmark/kotlin/digital/vasic/yole/format/benchmark/OrgModeParserBenchmark.kt
  shared/src/desktopBenchmark/kotlin/digital/vasic/yole/format/benchmark/RestructuredTextParserBenchmark.kt
  shared/src/desktopBenchmark/kotlin/digital/vasic/yole/format/benchmark/SimpleBenchmarkRunner.kt
  shared/src/desktopBenchmark/kotlin/digital/vasic/yole/format/benchmark/WikitextParserBenchmark.kt
Due: shared

Auto-commit
  LAZY_HTML_OPTIMIZATION_SUMMARY.md
  MEMORY_ANALYSIS.md
  PHASE_4_STATUS.md
  PHASE_4_TASK_4.3_COMPLETE.md
  shared/src/commonMain/kotlin/digital/vasic/yole/format/TextParser.kt
Due: shared

Auto-commit
  BUILD_OPTIMIZATION_COMPLETE.md
  PHASE_2_TESTING_ANALYSIS.md
  PHASE_4_STATUS.md
  STARTUP_ANALYSIS.md
  STARTUP_OPTIMIZATION_COMPLETE.md
  androidApp/src/main/java/digital/vasic/yole/android/ui/YoleApp.kt
  gradle.properties
  shared/build.gradle.kts
  shared/src/commonMain/kotlin/digital/vasic/yole/format/ParserInitializer.kt
  shared/src/commonMain/kotlin/digital/vasic/yole/format/TextParser.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/ParsedDocumentTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/ParserErrorPathTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/markdown/MarkdownParserErrorTest.kt
Due: shared, android

Auto-commit
  PHASE_2_TASK_2.3_SUMMARY.md
  PHASE_2_TESTING_ANALYSIS.md
  shared/src/commonTest/kotlin/digital/vasic/yole/format/FormatDetectionTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/ParserMetadataTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/StringUtilsTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/csv/CsvUtilsTest.kt
Due: none

Auto-commit
  PHASE_2_TASK_2.4_SUMMARY.md
  shared/src/commonTest/kotlin/digital/vasic/yole/format/HtmlGenerationIntegrationTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/ParserLifecycleIntegrationTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/ValidationWorkflowIntegrationTest.kt
Due: none

Auto-commit
  PARSER_COVERAGE_IMPROVEMENT_COMPLETE.md
  shared/src/commonTest/kotlin/digital/vasic/yole/format/asciidoc/AsciidocParserComprehensiveTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/jupyter/JupyterParserComprehensiveTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/latex/LatexParserComprehensiveTest.kt
Due: none

Auto-commit
  COVERAGE_IMPROVEMENT_FINAL_SUMMARY.md
  PARSER_TESTING_CAMPAIGN_COMPLETE.md
  TESTING_GUIDELINES.md
  shared/src/commonTest/kotlin/digital/vasic/yole/format/creole/CreoleParserComprehensiveTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/rmarkdown/RMarkdownParserComprehensiveTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/textile/TextileParserComprehensiveTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/tiddlywiki/TiddlyWikiParserComprehensiveTest.kt
Due: none

Auto-commit
  COVERAGE_TARGET_ACHIEVED.md
  shared/src/commonTest/kotlin/digital/vasic/yole/format/wikitext/WikitextParserComprehensiveTest.kt
Due: none

Auto-commit
  COVERAGE_75_PERCENT_ACHIEVED.md
  COVERAGE_MILESTONE_75_PERCENT.md
  shared/src/commonTest/kotlin/digital/vasic/yole/format/orgmode/OrgModeParserComprehensiveTest.kt
  shared/src/commonTest/kotlin/digital/vasic/yole/format/restructuredtext/RestructuredTextParserComprehensiveTest.kt
Due: none

Add campaign completion documentation and executive summary
  CAMPAIGN_COMPLETE.txt
  CAMPAIGN_EXECUTIVE_SUMMARY.md
Due: none

Path conditions:
  shared: any of: shared/src/, but not: **/*Test.kt, **/*Tests.kt, **/test/**, **/androidTest/**, **/commonTest/**, build/**, dist/**, docs/**, templates/**, scripts/**, **/*.gradle.kts, **/generated/**
  android: any of: androidApp/src/, but not: **/*Test.kt, **/*Tests.kt, **/test/**, **/androidTest/**, **/commonTest/**, build/**, dist/**, docs/**, templates/**, scripts/**, **/*.gradle.kts, **/generated/**
  desktop: any of: desktopApp/src/, but not: **/*Test.kt, **/*Tests.kt, **/test/**, **/androidTest/**, **/commonTest/**, build/**, dist/**, docs/**, templates/**, scripts/**, **/*.gradle.kts, **/generated/**
